@charset "UTF-8";


:root {
    --corFundo: #00BB00;
}


* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--corFundo);
}

header {
    padding: 15px;
    background-image: linear-gradient(180deg, #036B21,#03731E 5%, #00BB00 70%);
    color: black;
}

main, 
 footer {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;

}

main {
    border-radius: 20px 20px 0px 0px;
    text-align: justify;
}

main > p {
    line-height: 20px;
    font-size: 1.07em;
}

.div-img {
    background-color: rgb(124, 253, 126);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.541);
    width: 93.8vw;
    height: 300px;
    margin-left: -2.1%;
    margin-top: -10px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
}

div#img1 {
    border-radius: 20px 20px 0px 0px;
    background-image: url('midias/pexels-pixabay-160846.jpg');
    background-attachment: scroll;
}

div#img2 {
    background-image: url('midias/gato1.jpg');
}

div#img3 {
    background-image: url('midias/pexels-marcelo-chagas-6682642.jpg');
}

div#img4 {
    background-image: url('midias/filhotes1.jpg');
}

section {
    background-color: rgb(245, 245, 245);
    height: 150px;
}

footer {
    border-radius: 0px 0px 20px 20px;
}

h1 {
    text-align: center;
    margin-bottom: 9px;
    color: rgb(227, 251, 223);
    text-shadow: 0px 0px 7px black;
}

p#p-header {
    text-align: center;
    text-shadow: 0px 0px 10px white;
}

h2 {
    text-align: center;
}

article.contatos {
    text-align: center;
    margin-bottom: 7px;
}

article#contatos {
    padding-bottom: 30px;
}

.img-contatos {
    width: 40px;
    transform: translate(0px, 18px);
}

img#img-instagram {
    width: 48px;
}

iframe#mapa {
    height: 50vh;
    width: 85vw;
    margin: 10px;
}

article#fim {
    text-align: center;
    text-shadow: 0px 0px 20px rgb(212, 255, 202);
}

